<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(
	function() {
		$.getJSON('/ngoregister/types', {
			ajax : 'true'
		}, function(data) {
			var html = '<option value="">Choose One</option>';
			var len = data.length;
			for ( var i = 0; i < len; i++) {
				html += '<option value="' + data[i] + '">'
						+ data[i] + '</option>';
			}
			html += '</option>';
                        //now that we have our options, give them to our select
			$('#type').html(html);
		});
	});

$(document).ready(function() { 
	$('#type').change(
		function() {
			$.getJSON('/ngoregister/subtypes', {
				type : $(this).val(),
				ajax : 'true'
			}, function(data) {
				var html = '<option value="">Choose One</option>';
				var len = data.length;
				for ( var i = 0; i < len; i++) {
					html += '<option value="' + data[i] + '">'
							+ data[i] + '</option>';
				}
				html += '</option>';
 
				$('#subtype').html(html);
			});
		});
});
</script>


</head>
<body>
<h2>Ngo Registration</h2>
<h3>Ngo Details</h3>
<form action="#" th:action="@{/ngoregister/ngo}" th:object="${ngoForm}" method="post" enctype="multipart/form-data">
<table>
<tr>
<td>NGO Name:</td>
<td><input type="text" th:field="*{name}" /></td>
<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
</tr>

<tr>
<td>Email:</td>
<td><input type="email" th:field="*{email}" /></td>
<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
</tr>

<tr>
<td>Website:</td>
<td><input type="text" th:field="*{website}" /> </td>
<td th:if="${#fields.hasErrors('website')}" th:errors="*{website}">Website Errors</td>
</tr>

<tr>
<td>NGO Description:</td>
<td><textarea cols="20" rows="25" th:field="*{description}"></textarea></td>
<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
</tr>

<tr>
<td>NGO Category:</td>
<td><select id="type"  th:field="*{type}"  >
</select>
</td>
<td th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Type Error</td>
</tr>

<tr>
<td>NGO Sub Category:</td>
<td><select id="subtype"   th:field="*{subtype}">
</select>
</td>
<td th:if="${#fields.hasErrors('subtype')}" th:errors="*{subtype}">Sub Type Error</td>
</tr>


<tr>
<td>Profile Image:</td>
<td><input type="file" th:field="*{profileImage}" /> </td>
<td th:if="${#fields.hasErrors('profileImage')}" th:errors="*{profileImage}">Profile Image Errors</td>
</tr>


<tr>
<td>
<button type="submit">Continue</button>
</td>
</tr>

</table>
</form>


</body>
</html>